main {
  display: flex;
  flex-direction: column;
  max-width: var(--desktop-width);
  color: var(--color-main);
  justify-content: center;
  align-items: center;
  margin : 2em auto;
}

.intro {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin: 3em;
}

.intro__content {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.intro__content div{
  height: 50%
}

.intro__intro--title h1{
  margin: 30px 0;
}


.intro__intro--title {
  font-size: var(--font-size-title);
}

.intro__intro--body {
  font-size: var(--font-size-larger);
}

.intro__intro--body p {
  margin-right: 40px;
  margin-bottom: 20px;
}