@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');

@import url('./header.css');
@import url('./main.css');
@import url('./mail.css');
@import url('./row.css');
@import url('./use.css');

/* ===== 변수 구간 ===== */
:root {
  --color-main: #183153;
  --color-sub: #ffd43b;
  --color-dark: #2F4858;
  --color-emph: #F10F5F;
  --color-text: #281812;
  --color-lighter: #DC9C86;
  --color-light-bd: #FFE6D6;
  --color-light-bg: #FFF5ED;
  --color-dark-navy: #001c40;
  --color-dark-yellow: #fab005;

  --font-code: 'Nanum Gothic Coding', monospace;;

  --font-size-title: 44px;
  --font-size-subtitle: 32px;
  --font-size-tag: 26px;
  --font-size-larger: 20px;
  --font-size-text: 18px;
  --font-size-small: 16px;
  --font-size-smaller: 15px;

  --height-toolbar: 72px;

}

/* ===== 리셋 구간 ===== */

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;

  /* 개발용 설정 */
  min-height: 200vh;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
}

strong, em {
  font-weight: inherit;
  font-style: normal;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

dl { margin: 0; }
dd {
  margin: 0;
  display: inline;
}

figure { margin: 0; }

a {
  text-decoration: none;
  color: inherit;
}

th { font-weight: normal; }

address { font-style: inherit; }


/* ===== 스크린 리더용 ===== */

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
